{% extends "base.html" %}

{% block content %}

<h1>All Blog Poster's</h1>

<!-- MAKE SURE TO MATCH THE BLOGS VARIABLE PASSED IN FROM MAIN.PY -->
{% if users |length == 0  %}
<p>
  No users yet...
</p>
{%  else  %}
  <ul>
<!-- MAKE SURE TO MATCH THE BLOGS VARIABLE PASSED IN FROM MAIN.PY -->
    {%for user in users %}
        <li>
            <a href="/blog?user={{user.username}}">{{user.username}}</a>
      <!-- <input type="submit" value="Done!" /> -->
          <!-- <input type="submit" value="Create Blog!" /> -->
      </form>

    </li>
    {% endfor %}
  </ul>
{% endif %}

<hr />



{% endblock %}
